<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="ul">
      <li nz-menu-item nzMatchRouter nzIcon="login">
        <a routerLink="/login">Login</a>
      </li>

      <li nz-submenu nzOpen nzTitle="Admin" nzIcon="crown">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin">Admins</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/create-companyowner">Create Company Owner</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/companies/get">Get Companies</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Company Owner" nzIcon="tool">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/companies/create">Create Company</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/create-devices">Create Devices</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Home Owner" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/maintenance">Create Home</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="manager/view-services">Members</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="manager/services">Home Devices</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Maintainer" nzIcon="robot">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="maintainer/services">Services</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content class="cont">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>