<section style="width: 700px; display: flex; flex-direction: column; padding: 20px;">
  <h2>Generate notification</h2>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()" style="width: 100%;">
    <app-form-input
      [form]="form"
      name="detail"
      type="text"
      label="Detail"
      placeholder="Cat asking for food..."
      [formField]="{
        name: { required: 'Detail is required' }
      }"
    ></app-form-input>

		<label for="noti-type">Type</label>
      <select id="noti-type" name="noti-type" (change)="onNotiTypeChange($event)">
        <option value="window-movement">Window movement</option>
        <option value="movement-detected">Movement detected</option>
        <option value="person-detected">Person detected</option>
      </select>

		<app-form-button type="submit" title="Submit" style="margin: 15px 0;"></app-form-button>
  </form>
	<app-success-message [message]="successMessage"></app-success-message>
	<app-error-message [message]="errorMessage"></app-error-message>
  <button mat-button (click)="close()">Cerrar</button>
</section>
