<article>
	<h2>Accounts list</h2>
	<button (click)="handleRefresh()">
		Refresh
	</button>
  @if (accounts.length > 0) {
  <ul>
    @for (account of accounts; track $index) {
    <li>
      <strong>ID:</strong> {{ account.id }} <br />
      <strong>Name:</strong> {{ account.name }} <br />
      <strong>Lastname:</strong> {{ account.lastName }} <br />
      <strong>Fullname:</strong> {{ account.fullName }} <br />
      <div>
        <strong>Role:</strong> {{ account.role }} <br />
        @if (account.role === 'ADMINISTRATOR') {
        <app-delete-admin-button
          [adminId]="account.id"
        ></app-delete-admin-button>
        }
      </div>
      <strong>Created at:</strong> {{ account.createdAt }} <br />
    </li>
    }
  </ul>
  } @else {
  <p>No accounts available to show.</p>
  }
</article>
