<h2>Import devices</h2>
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <app-form-input
    [form]="form"
    name="importerSelected"
    type="text"
    label="Importer Type"
    placeholder="Type"
    [formField]="{
      importerSelected: { required: 'Importer type is required' }
    }"
  ></app-form-input>

  <app-form-input
    [form]="form"
    name="filePath"
    type="text"
    label="File Path"
    placeholder="Path"
    [formField]="{
      filePath: { required: 'Path is required'}
    }"
  ></app-form-input>

  <app-form-button type="submit" title="Submit"></app-form-button>

	<app-success-message [message]="successMessage"></app-success-message>
	<app-error-message [message]="errorMessage"></app-error-message>
</form>