@if (currentUserToken){
<div class="div">
  <h1>
    Welcome, <strong>{{ currentUserName }}</strong
    >!
  </h1>

  <div
    class="homeowner-info"
  >
    <p class="homeowner-message">
      You can try Home Owner's functionalities by adding a new role to your
      account
    </p>
    <app-homeowner-button></app-homeowner-button>
  </div>

  <app-button (click)="onLogout()">Logout</app-button>
</div>
} @else {
<div class="login-container">
  <h2>Login</h2>
  <form form="form" class="'form'" (submit)="onSubmit($event)">
    <div>
      <app-form-input
        [form]="form"
        name="email"
        type="mail"
        label="Email"
        placeholder="Email"
        [formField]="{
          email: { required: 'Email is required' }
        }"
      ></app-form-input>
    </div>
    <div>
      <app-form-input
        [form]="form"
        name="password"
        type="password"
        label="Password"
        placeholder="Password"
        [formField]="{
          password: { required: 'Password' }
        }"
      ></app-form-input>
    </div>
    <app-button [type]="'submit'">Login</app-button>
  </form>
</div>
}
