<article>
  <h2>Listing of Home Devices</h2>
  <button (click)="handleRefresh()">Refresh</button>
  <app-success-message [message]="successMessage"></app-success-message>
  <app-error-message [message]="errorMessage"></app-error-message>
  @if (homeDevices.length > 0) {
  <ul>
    @for (device of homeDevices; track $index) {
    <li>
      <div class="photo-container">
        <img src="{{ device.mainPhoto }} " alt="{{ device.name }}" />
      </div>
      <div class="info-container">
        <div style="display: flex; align-items: center">
          <div class="col"><strong>Name:</strong> {{ device.name }}</div>
					<div class="col"><strong>Custom Name:</strong> {{ device.customName }}</div>
          <div class="col"><strong>Model:</strong> {{ device.model }}</div>
        </div>
				<div>
					<div class="col">
						@if (device?.isActive) {
							<span class="text-success">ACTIVE</span>
						} @else {
							<span class="text-danger">NOT ACTIVE</span>
							<app-turn-on-device-button [device]="device"></app-turn-on-device-button>
						}
					</div>						
				</div>
				<app-rename-device-button [device]="device"></app-rename-device-button>
				<app-generate-notification-button [device]="device"></app-generate-notification-button>
      </div>
    </li>
    }
  </ul>
  } @else { @if (!errorMessage){
  <p>There are'nt devices registered in this home.</p>
  } }

  <hr />
  <h2>Register a new device to this home</h2>
  <p>Please select the device you want to add to this home.</p>
  <app-registered-devices-list
    (deviceEmitter)="handleAddNewDevice($event)"
    [displayButtons]="true"
  ></app-registered-devices-list>
</article>
