ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

li {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #224fca;
	border-radius: 20px;
	padding: 10px;
	gap: 3rem;
}

.photo-container {
	width: 250px;
	max-width: 250px;
}

img {
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
}

.info-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-success {
  color: green;
  font-weight: bold;
}

.text-danger {
  color: red;
  font-weight: bold;
}