<article>
	<h2>Listing of Homes</h2>
	<button (click)="handleRefresh()">
		Refresh
	</button>
  @if (homes.length > 0) {
  <ul>
    @for (home of homes; track $index) {
    <li>
      <strong>Home street:</strong> {{ home.street }} <br />
      <strong>Home number:</strong> {{ home.number }} <br />
      <app-button (clicked)="onClick(home.id)">Select</app-button>
    </li>
    }
  </ul>
	@if (selectedHomeId) {
		<app-rename-home-button [homeId]="selectedHomeId"></app-rename-home-button>
	}
  } @else {
  <p>User is not a member of any house.</p>
  }
</article>
